In [1]:
game_score=800
if game_score>1000:
    print("당신은 고수입니다")

In [2]:
game_score=1300
if game_score>1000:
    print("당신은 고수입니다")

당신은 고수입니다

In [4]:
num_a=100
num_b=200
if num_a==num_b:
    print("두값이 일치합니다")

In [6]:
num_a=100
num_b=100
if num_a==num_b:
    print("두값이 일치합니다")

두값이 일치합니다

In [ ]:
x=int(input("정수를 입력하세요"))
print("n=",x)
if(x%2==0):
    print(x,'은(는) 짝수입니다')

In [ ]:
x=int(input("정수를 입력하세요"))
print("n=",x)
if(x%2==0):
    print(x,'은(는) 짝수입니다')

In [ ]:
x=int(input("정수를 입력하세요"))
print("game_score=",x)
if x>1000:
    print("고수입니다.")
else:
    print("입문자입니다")

In [12]:
x=int(input("정수를 입력하세요"))
print("game_score=",x)
if x>1000:
    print("고수입니다.")
else:
    print("입문자입니다")

정수를 입력하세요1000
game_score= 1000
입문자입니다

In [13]:
x=int(input("당신은 성인인가요(성인이면1,미성년이면 0)"))
if(x==0):
    print("당신은 미성년자입니다.")
elif(x==1):
    t=int(input("결혼을 하셨나요(기혼이면 1,미혼이면 0)"))
    if(t==0):
        print("당신은 결혼하지 않은 성인입니다")
    else:
        print("당신은 결혼한 성인입니다")
else:
    print("ERROR")

당신은 성인인가요(성인이면1,미성년이면 0)1
결혼을 하셨나요(기혼이면 1,미혼이면 0)1
당신은 결혼한 성인입니다

In [14]:
x=int(input("당신은 성인인가요(성인이면1,미성년이면 0)"))
if(x==0):
    print("당신은 미성년자입니다.")
elif(x==1):
    t=int(input("결혼을 하셨나요(기혼이면 1,미혼이면 0)"))
    if(t==0):
        print("당신은 결혼하지 않은 성인입니다")
    else:
        print("당신은 결혼한 성인입니다")
else:
    print("ERROR")

당신은 성인인가요(성인이면1,미성년이면 0)1
결혼을 하셨나요(기혼이면 1,미혼이면 0)0
당신은 결혼하지 않은 성인입니다

In [15]:
x=int(input("당신은 성인인가요(성인이면1,미성년이면 0)"))
if(x==0):
    print("당신은 미성년자입니다.")
elif(x==1):
    t=int(input("결혼을 하셨나요(기혼이면 1,미혼이면 0)"))
    if(t==0):
        print("당신은 결혼하지 않은 성인입니다")
    else:
        print("당신은 결혼한 성인입니다")
else:
    print("ERROR")

당신은 성인인가요(성인이면1,미성년이면 0)0
당신은 미성년자입니다.

In [16]:
num=2
if((num>1)and(num<10)):
    print("True")
else:
    print("False")

True

In [18]:
num=14
if((num>1)and(num<10)):
    print("True")
else:
    print("False")

False

In [21]:
age=10
if((age>10)and(age<19)):
    print("청소년입니다.")

In [20]:
age=12
if((num>10)and(num<19)):
    print("청소년입니다.")

청소년입니다.

In [22]:
speed=int(input("자동차의 속도를 입력하세요(단위 : Km/h)"))
if(speed>100):
    print("고속")
elif((speed<100)and(speed>60)):
    print("중속")
else:
    print("저속")

자동차의 속도를 입력하세요(단위 : Km/h)13
저속

In [23]:
speed=int(input("자동차의 속도를 입력하세요(단위 : Km/h)"))
if(speed>100):
    print("고속")
elif((speed<100)and(speed>60)):
    print("중속")
else:
    print("저속")

자동차의 속도를 입력하세요(단위 : Km/h)130
고속

In [24]:
for i in range(5):
    print("Hello,Python")

Hello,Python
Hello,Python
Hello,Python
Hello,Python
Hello,Python

In [25]:
for i in range(5):
    print(i)

0
1
2
3
4

In [31]:
list(range(0,101))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [33]:
list(range(2,101,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [34]:
list(range(1,101,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [41]:
s=0
for i in range(0,101):
    s=s+i
print(s)

5050

In [42]:
s=0
for i in range(0,101,2):
    s=s+i
print(s)

2550

In [43]:
s=0
for i in range(1,101,2):
    s=s+i
print(s)

2500

In [64]:
n=7
for i in range(n):
    st=" "
    for j in range(7-i):
        st=st+" "
    print(st+"#")

        #
       #
      #
     #
    #
   #
  #

In [1]:
x,y,z=map(int,input("숫자 3개를 입력하세요").split())
if((x>y)and(x>z)):
    if(y>z):
        print(x,y,z)
    else:
        print(x,z,y)
elif((y>x)and(y>z)):
    if(x>z):
        print(y,x,z)
    else:
        print(y,z,x)
elif((z>x)and(z>y)):
    if(x>y):
        print(z,x,y)
    else:
        print(z,y,x)

숫자 3개를 입력하세요10 20 30
30 20 10

In [2]:
x,y=map(int,input("점의 좌표 x,y를 입력하시오").split())
if(x>0):
    if(y>0):
        print("1사분면에 있음")
    else:
        print("4사분면에 있음")
if(x<0):
    if(y>0):
        print("2사분면에 있음")
    else:
        print("3사분면에 있음")

점의 좌표 x,y를 입력하시오4 -3
4사분면에 있음

In [3]:
x=int(input("게임점수를 입력하세요"))
if x>1000:
    print("고수입니다.")
else:
    print("입문자입니다")

게임점수를 입력하세요1030
고수입니다.

In [ ]:
for i in range(3):
    print('Python')
    print('is')
    print('FUN!')

In [1]:
for i in range(3):
    print('Python')
    print('is')
print('FUN!')

Python
is
Python
is
Python
is
FUN!

In [9]:
num = int(input("숫자 입력 : "))
for i in range(3, num,2):
    if (num % i == 0)or(num%2==0):
        print("소수가 아닙니다.")
        break
else:
    print("소수입니다.")

숫자 입력 : 4
소수가 아닙니다.

In [10]:
print("세 자리의 암스트롱 수")
for i in range(100,1000,1):
    sum=0
    a=i
    sum+=(a%10)**3
    a=a//10
    sum+=(a%10)**3
    a=a//10
    sum+=(a%10)**3
    if(sum==i):print(i)

세 자리의 암스트롱 수
153
370
371
407

In [14]:
num = int(input("1에서 9까지의 수를 입력하세요 : "))
while(num>9):num = int(input("1에서 9까지의 수를 다시 입력하세요: "))
for i in range(1,10):
    print(num,"*",i,"=",num*i)

1에서 9까지의 수를 입력하세요 : 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [20]:
print("맛나 식당에 오신것을 환영합니다. 메뉴는 다음과 같습니다")
print("-삼겹구이 (입력 s)")
print("-오삼불고기 (입력 o)")
print("-된장찌개 (입력 d)")
menu = input("메뉴를 선택하세요(알파벳 s,o,d 입력 :)")
while(True):
    if(menu=='s'):
        print("삼겹구이를  선택하셨습니다.")
        break;
    if(menu=='o'):
        print("오삼불고기를  선택하셨습니다.")
        break;
    if(menu=='d'):
        print("된장찌개를  선택하셨습니다.")
        break;
    menu = input("메뉴를 다시 입력하세요(알파벳 s,o,d 입력 :)")

맛나 식당에 오신것을 환영합니다. 메뉴는 다음과 같습니다
-삼겹구이 (입력 s)
-오삼불고기 (입력 o)
-된장찌개 (입력 d)
메뉴를 선택하세요(알파벳 s,o,d 입력 :)t
메뉴를 다시 입력하세요(알파벳 s,o,d 입력 :)h
메뉴를 다시 입력하세요(알파벳 s,o,d 입력 :)d
된장찌개를  선택하셨습니다.

In [29]:
size =int(input("숫자 입력 : "))
for i in range(0,size+1):
    for j in range(size-i,0,-1):
        print(" ", end=' ')
    for j in range(0,i):
        print("*", end=' ')
    print("\n")

숫자 입력 : 10


                  *

                * *

              * * *

            * * * *

          * * * * *

        * * * * * *

      * * * * * * *

    * * * * * * * *

  * * * * * * * * *

* * * * * * * * * *

In [39]:
n =int(input("n을 입력하시오 : "))
num=1;
line=1
for i in range(0,n):
    if(line==1):
        line=0
        for j in range(0,n):
            print(num, end=' ')
            num=num+1
        print("\n")
        num=num-1
        continue;
    if(line==0):
        line=1
        num+=n
        for j in range(0,n):
            print(num, end=' ')
            num=num-1
        num+=n
        print("\n")
        num=num+1
        continue;

n을 입력하시오 : 7
1 2 3 4 5 6 7

14 13 12 11 10 9 8

15 16 17 18 19 20 21

28 27 26 25 24 23 22

29 30 31 32 33 34 35

42 41 40 39 38 37 36

43 44 45 46 47 48 49