In [1]:
import datetime
datetime.datetime.now()

datetime.datetime(2022, 10, 19, 0, 37, 23, 124701)

In [2]:
today=datetime.date.today()
print(today)
today
today.year
today.month
today.day

2022-10-19

19

In [3]:
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

In [4]:
start_time=datetime.datetime.now()
start_time.replace(month=12,day=25)

datetime.datetime(2022, 12, 25, 0, 37, 23, 171466)

In [5]:
import datetime as dt
start_time=dt.datetime.now()
start_time.replace(month=12,day=25)

datetime.datetime(2022, 12, 25, 0, 37, 23, 185057)

In [6]:
from datetime import datetime
start_time=datetime.now()
start_time.replace(month=12,day=25)

datetime.datetime(2022, 12, 25, 0, 37, 23, 201321)

In [7]:
#LAB 7-1
from time import localtime
print("오늘의 날짜 : {}년 {}월 {}일".format(today.year,today.month,today.day))
tm=localtime()

print("현재 시간 :",end=(''))
if(tm.tm_hour>12):print("오후",tm.tm_hour-12,end=(''))
else:print("오전",tm.tm_hour,end=(''))
print("시",tm.tm_min,"분 ",tm.tm_sec,'초',end=(''))

오늘의 날짜 : 2022년 10월 19일
현재 시간 :오전 0시 37 분  23 초

In [8]:
#LAB 7-2
import datetime as dt
today=dt.date.today()
print('오늘은 {}년 {}월 {}일입니다'.format(today.year,today.month,today.day))
xMas=dt.datetime(2025,12,25)
ny=dt.datetime(2036,1,1)
birth=dt.datetime(2023,2,4)
time_gap=xMas-dt.datetime.now()
print("2025년 크리스마스 까지는 {}일 {}시간 남았습니다".format(time_gap.days,time_gap.seconds//3600))
time_gap=ny-dt.datetime.now()
print("2036년 새해 까지는 {}일 {}시간 남았습니다".format(time_gap.days,time_gap.seconds//3600))
time_gap=birth-dt.datetime.now()
print("2023년 생일까지는 {}일 {}시간 남았습니다".format(time_gap.days,time_gap.seconds//3600))

오늘은 2022년 10월 19일입니다
2025년 크리스마스 까지는 1162일 23시간 남았습니다
2036년 새해 까지는 4821일 23시간 남았습니다
2023년 생일까지는 107일 23시간 남았습니다

In [9]:
#LAB 7-3
print('오늘=',dt.datetime.now())
hun=dt.timedelta(days=1000)
plus1000day=dt.datetime.now()+hun
print('1000일후:',plus1000day)

오늘= 2022-10-19 00:37:23.247905
1000일후: 2025-07-15 00:37:23.247905

In [57]:
import datetime as dt
y,m,d=input('처음으로 사귄 연도와 월,일을 입력하시오:').split()
first=datetime.date(int(y),int(m),int(d))
hun=dt.timedelta(days=100)
plus100day=first+hun

print('100일 기념일:',plus100day)

처음으로 사귄 연도와 월,일을 입력하시오:2019 3 30
100일 기념일: 2019-07-08

In [11]:
import time

unix_timestamp=time.time()
local_time=time.localtime(unix_timestamp)
print(time.strftime('%Y-%m-%d %H:%M:%S',local_time))

2022-10-19 00:37:43

In [12]:
import time
print("바로 출력되는 구문")
time.sleep(4.5)
print("4.5초후 출력되는 구문")

바로 출력되는 구문
4.5초후 출력되는 구문

In [13]:
import time
start_time=time.time()
print(1+2+3+4+5+6+7+8+9+10)
end_time=time.time()
gap=end_time-start_time
print('1에서 10까지의 합을 구하고 출력하는 시간 :{:7.4f}초'.format(gap))

55
1에서 10까지의 합을 구하고 출력하는 시간 : 0.0005초

In [14]:
#LAB 7-4
import math
for i in range(2,11):
    print("4 **{} = {}".format(i,math.pow(4,i)))

4 **2 = 16.0
4 **3 = 64.0
4 **4 = 256.0
4 **5 = 1024.0
4 **6 = 4096.0
4 **7 = 16384.0
4 **8 = 65536.0
4 **9 = 262144.0
4 **10 = 1048576.0

In [80]:
import math
for i in range(0,181,10):
    print("{} degree = {:.3f}".format(i,math.radians(i)))

0 degree = 0.000
10 degree = 0.175
20 degree = 0.349
30 degree = 0.524
40 degree = 0.698
50 degree = 0.873
60 degree = 1.047
70 degree = 1.222
80 degree = 1.396
90 degree = 1.571
100 degree = 1.745
110 degree = 1.920
120 degree = 2.094
130 degree = 2.269
140 degree = 2.443
150 degree = 2.618
160 degree = 2.793
170 degree = 2.967
180 degree = 3.142

In [84]:
import math
for i in range(0,181,10):
    print("{} degree = {:.3f}".format(i,math.sin(math.radians(i))))

0 degree = 0.000
10 degree = 0.174
20 degree = 0.342
30 degree = 0.500
40 degree = 0.643
50 degree = 0.766
60 degree = 0.866
70 degree = 0.940
80 degree = 0.985
90 degree = 1.000
100 degree = 0.985
110 degree = 0.940
120 degree = 0.866
130 degree = 0.766
140 degree = 0.643
150 degree = 0.500
160 degree = 0.342
170 degree = 0.174
180 degree = 0.000

In [17]:
#Dicegame
import random as rd
while(1):
    a=rd.randrange(1,7)
    b=rd.randrange(1,7)
    print("A:{} B:{}".format(a,b))
    if(a>b):
        print("A 우승")
        break
    if(b>a):
        print("B 우승")
        break
    else:
        print("무승부..재경기")

A:2 B:3
B 우승

In [18]:
#LAB 7-5
import random as rd
li=[]
li.append(rd.randrange(0,100,5))
li.append(rd.randrange(0,100,5))
li.append(rd.randrange(0,100,5))
print("0에서 100이하의 정수 중에서 5의 배수")
print(li)

numlist=[]
print('1에서 10 사이의 임의의 정수 :')
for i in range(1,11):
    numlist.append(i)
print(rd.sample(numlist,3))

0에서 100이하의 정수 중에서 5의 배수
[75, 30, 20]
1에서 10 사이의 임의의 정수 :
[5, 7, 4]

In [19]:
import random as rd
lis=list(range(1,46))
rd.shuffle(lis)
lis=lis[:6]
lis.sort()
print('이번주의 추천 로또 번호: ',lis)

이번주의 추천 로또 번호:  [1, 2, 5, 8, 14, 15]

In [20]:
#LAB 7-7
import turtle as t
t.forward(100)
t.left(120)
t.forward(100)
t.left(120)
t.forward(100)
t.left(120)
t.forward(200)
t.left(120)
t.forward(200)
t.left(120)
t.forward(200)
t.left(120)
t.done()

In [22]:
import turtle as t

for _ in range(3):
    t.forward(100)
    t.left(120)
for _ in range(3):
    t.forward(200)
    t.left(120)
t.done()

In [25]:
import turtle as t
for i in range(100,301,100):
    for _ in range(3):
        t.forward(int(i))
        t.left(120)
t.done()

In [ ]:
import turtle as t
for i in range(4):
    t.forward(100)
    t.left(90)
t.done()

In [29]:
#LAB 7-8
import turtle as t
t.color('blue')
t.begin_fill()
for _ in range(4):
    t.forward(100)
    t.left(90)
t.end_fill()
t.setheading(90)
t.color('red')
t.begin_fill()
for _ in range(4):
    t.forward(100)
    t.left(90)
t.end_fill()
t.setheading(180)
t.color('yellow')
t.begin_fill()
for _ in range(4):
    t.forward(100)
    t.left(90)
t.end_fill()
t.setheading(270)
t.color('green')
t.begin_fill()
for _ in range(4):
    t.forward(100)
    t.left(90)
t.end_fill()

In [36]:
import turtle as t
colors=['blue','red','yellow','green']
i=0

def col(a,i):
    t.setheading(i)
    t.color(a)
    t.begin_fill()
    for _ in range(4):
        t.forward(100)
        t.left(90)
    t.end_fill()
for i in range(4):
    col(colors[i],i*90)

In [3]:
import turtle as t
colors=['blue','red','yellow','green']
i=0

def col(a,i):
    t.setheading(i)
    t.color(a)
    for _ in range(72):
        t.forward(5)
        t.left(5)
for i in range(4):
    col(colors[i],i*90)

In [5]:
#LAB 7-9
import turtle as t
import random as rd

t.shape("turtle")
d=300
for _ in range(40):
    t.penup()
    x=rd.randint(-d,d)
    y=rd.randint(-d,d)
    t.goto(x,y)
    t.pendown()
    t.stamp()
t.done()

In [7]:
import turtle as t
import random as rd
colors=['blue','red','yellow','green']

t.shape("turtle")
d=300
for _ in range(40):
    t.penup()
    x=rd.randint(-d,d)
    y=rd.randint(-d,d)
    c=rd.randint(0,3)
    t.color(colors[c])
    t.goto(x,y)
    t.pendown()
    t.stamp()
t.done()

In [13]:
#연습문제 2.
import random as rd
n=0
while(1):
    a=rd.randint(1,20)
    ip=int(input("1~20까지의 숫자를 입력하세요 :"))
    if(a>ip):
        print(ip,"보다 큽니다")
        n+=1
    elif(a<ip):
        print(ip,"보다 작습니다")
        n+=1
    else:
        n+=1
        break
if(n<=3):
    print(n,"번 만에 맞춘 당신은 천재!")
elif(n<=6):
    print(n,"번만에 맞추셨네요. 잘했어요^^")
else:
    print(n,"번 만에 맞추다니 쩝쩝...")

1~20까지의 숫자를 입력하세요 :10
10 보다 큽니다
1~20까지의 숫자를 입력하세요 :15
15 보다 큽니다
1~20까지의 숫자를 입력하세요 :19
19 보다 작습니다
1~20까지의 숫자를 입력하세요 :17
4 번만에 맞추셨네요. 잘했어요^^

In [46]:
#연습문제 4.
import turtle as t
i=0
t.speed(1000)
t.setpos(-200,-200)
t.clear()
t.shapesize(4)
t.forward(400)
t.left(90)
t.forward(400)
t.left(90)
t.forward(400)
t.left(90)
t.forward(400)
t.shapesize(1)
def col(i):
    t.begin_fill()
    for _ in range(4):
        t.forward(50)
        t.left(90)
    t.end_fill()
def a(x,y):
    t.pu()
    t.setpos(x,y)
    t.pd()
    for _ in range(4):
        t.pu()
        t.forward(100)
        t.pd()
        t.setheading(0)
        col(i)
a(-200,-100)
a(-300,-100)
a(-300,0)
a(-300,100)
a(-250,-150)
a(-250,-50)
a(-250,50)
a(-250,150)
t.done()

In [65]:
#연습문제 6.
import datetime as dt
first=datetime.date(2019,2,24)
hun=dt.timedelta(days=100)
plus100day=first+hun
today=dt.date.today()
time_gap=today-first
print('오늘은 {}년 {}월 {}일입니다'.format(today.year,today.month,today.day))
print('춘향이와 몽룡이의 연애 시작일 :',first)
print('연애 시작일로부터 경과한 날짜 :',time_gap.days,'일')
print('100일 기념일 :',first+hun)
print('200일 기념일 :',first+(hun*2))
print('500일 기념일 :',first+(hun*5))
print('1000일 기념일 :',first+(hun*10))

오늘은 2022년 10월 19일입니다
춘향이와 몽룡이의 연애 시작일 : 2019-02-24
연애 시작일로부터 경과한 날짜 : 1333 일
100일 기념일 : 2019-06-04
200일 기념일 : 2019-09-12
500일 기념일 : 2020-07-08
1000일 기념일 : 2021-11-20

In [74]:
#연습문제 8.
import time
import math
start_time=time.time()
for _ in range(100):
    dump=math.factorial(1000)
end_time=time.time()
gap=end_time-start_time
print('1000!을 100번 반복해서 구하는 시간 :{:7.4f}초'.format(gap))
start_time=time.time()
for _ in range(100):
    sum=0
    for i in range(1,1000,2):
        sum+=math.pow(i,3)
end_time=time.time()
gap=end_time-start_time
print('1에서 1000까지 홀수의 세제곱 더하기 결과:',sum)
print('1에서 1000까지 홀수의 세제곱 더하기를 100번 반복하는 시간 :{:7.4f}초'.format(gap))

1000!을 100번 반복해서 구하는 시간 : 0.0035초
1에서 1000까지 홀수의 세제곱 더하기 결과: 124999750000.0
1에서 1000까지 홀수의 세제곱 더하기를 100번 반복하는 시간 : 0.0107초

In [95]:
#연습문제 10.
for a in range(0,181,10):
    i=math.radians(a)
    print("sin({:^5d}) = {:7.3f}   cos({:^5d}) = {:7.3f}   tan({:^5d}) = {:7.3f}".format(a,math.sin(i),a,math.cos(i),a,math.tan(i)))

sin(  0  ) =   0.000   cos(  0  ) =   1.000   tan(  0  ) =   0.000
sin( 10  ) =   0.174   cos( 10  ) =   0.985   tan( 10  ) =   0.176
sin( 20  ) =   0.342   cos( 20  ) =   0.940   tan( 20  ) =   0.364
sin( 30  ) =   0.500   cos( 30  ) =   0.866   tan( 30  ) =   0.577
sin( 40  ) =   0.643   cos( 40  ) =   0.766   tan( 40  ) =   0.839
sin( 50  ) =   0.766   cos( 50  ) =   0.643   tan( 50  ) =   1.192
sin( 60  ) =   0.866   cos( 60  ) =   0.500   tan( 60  ) =   1.732
sin( 70  ) =   0.940   cos( 70  ) =   0.342   tan( 70  ) =   2.747
sin( 80  ) =   0.985   cos( 80  ) =   0.174   tan( 80  ) =   5.671
sin( 90  ) =   1.000   cos( 90  ) =   0.000   tan( 90  ) = 16331239353195370.000
sin( 100 ) =   0.985   cos( 100 ) =  -0.174   tan( 100 ) =  -5.671
sin( 110 ) =   0.940   cos( 110 ) =  -0.342   tan( 110 ) =  -2.747
sin( 120 ) =   0.866   cos( 120 ) =  -0.500   tan( 120 ) =  -1.732
sin( 130 ) =   0.766   cos( 130 ) =  -0.643   tan( 130 ) =  -1.192
sin( 140 ) =   0.643   cos( 140 ) =  -0.766   tan( 140 ) =  -0.839
sin( 150 ) =   0.500   cos( 150 ) =  -0.866   tan( 150 ) =  -0.577
sin( 160 ) =   0.342   cos( 160 ) =  -0.940   tan( 160 ) =  -0.364
sin( 170 ) =   0.174   cos( 170 ) =  -0.985   tan( 170 ) =  -0.176
sin( 180 ) =   0.000   cos( 180 ) =  -1.000   tan( 180 ) =  -0.000