In [24]:
#5-1
even_list=[2,4,6,8,10]
print(even_list)

[2, 4, 6, 8, 10]

In [27]:
even_list=list(range(2,12,2))
print(even_list)

[2, 4, 6, 8, 10]

In [28]:
nations=["korea","China","India","Nepal"]
print(nations)

['korea', 'China', 'India', 'Nepal']

In [29]:
friends=['길동','철수','은지','지은','영민']
print(friends)

['길동', '철수', '은지', '지은', '영민']

In [30]:
string=['X','Y','Z']
print(string)

['X', 'Y', 'Z']

In [33]:
#5-2
prime_list=[2,3,5,7]
print("prime_list의 첫 원소",prime_list[0])
print("prime_list의 마지막 원소",prime_list[3])
print("prime_list의 마지막 원소",prime_list[-1])

prime_list의 첫 원소 2
prime_list의 마지막 원소 7
prime_list의 마지막 원소 7

In [34]:
nations=["Korea","China","Russia","Malaysia"]
print("nations의 첫 원소",nations[0])
print("nations의 마지막 원소",nations[3])
print("nations의 마지막 원소",nations[-1])
print("nations의 마지막 원소",nations[(len(nations)-1)])

nations의 첫 원소 Korea
nations의 마지막 원소 Malaysia
nations의 마지막 원소 Malaysia
nations의 마지막 원소 Malaysia

In [35]:
#5-3
prime_list=[2,3,5,7]
print("소수 목록:",prime_list)
prime_list.append(11)
print("추가 후 소수 목록: ",prime_list)

소수 목록: [2, 3, 5, 7]
추가 후 소수 목록:  [2, 3, 5, 7, 11]

In [37]:
prime_list=[2,3,5,7,11]
print("소수 목록:",prime_list)
prime_list.remove(11)
print("추가 후 소수 목록: ",prime_list)

소수 목록: [2, 3, 5, 7, 11]
추가 후 소수 목록:  [2, 3, 5, 7]

In [39]:
nations=["Korea","China","Russia","Malaysia"]
print("국가 목록:",nations)
nations.append("Nepal")
print("추가 후 국가 목록: ",nations)

국가 목록: ['Korea', 'China', 'Russia', 'Malaysia']
추가 후 국가 목록:  ['Korea', 'China', 'Russia', 'Malaysia', 'Nepal']

In [41]:
nations=["Korea","China","Russia","Malaysia"]
print("국가 목록:",nations)
jap=nations.count("Japan")
rus=nations.count("Russia")
if(jap>0):print("Japan 는(은) 국가 목록에 있습니다.")
else: print("Japan 는(은) 국가 목록에 없습니다.")
if(rus>0):print("Russia 는(은) 국가 목록에 있습니다.")
else: print("Russia 는(은) 국가 목록에 없습니다.")

국가 목록: ['Korea', 'China', 'Russia', 'Malaysia']
Japan 는(은) 국가 목록에 없습니다.
Russia 는(은) 국가 목록에 있습니다.

In [1]:
#5-4
prime_list=[2,3,5,7]
print("1에서 10까지의 소수",prime_list)
print("최솟값 :",min(prime_list))
print("최댓값 :",max(prime_list))
print("합계 :",sum(prime_list))
print("평균 :",sum(prime_list)/len(prime_list))

1에서 10까지의 소수 [2, 3, 5, 7]
최솟값 : 2
최댓값 : 7
합계 : 17
평균 : 4.25

In [44]:
nations=["Korea","China","Russia","Malaysia"]
nations.sort()
print("사전에 가장 먼저 나오는 나라",nations[0])
print("사전에 가장 뒤에 나오는 나라",nations[-1])

사전에 가장 먼저 나오는 나라 China
사전에 가장 뒤에 나오는 나라 Russia

In [45]:
#5-5
a=[1,2,3]
b=[10,20,30]
a.append(b)
a

[1, 2, 3, [10, 20, 30]]

In [46]:
a=[1,2,3]
b=[10,20,30]
a.extend(b)
a

[1, 2, 3, 10, 20, 30]

In [51]:
nlist=list(range(1,11))
print("nlist=",nlist)
nlist.insert(0,0)
print("nlist=",nlist)
nlist.reverse()
print("nlist=",nlist)
print("마지막 원소",nlist.pop())
print("nlist=",nlist)

nlist= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nlist= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nlist= [10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
마지막 원소 0
nlist= [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [52]:
#5-6
n=int(input("반복할 정수를 입력하시오 :"))
nlist=[1,2,3]
print(nlist*n)

반복할 정수를 입력하시오 :3
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [58]:
#5-7
n_list=list(range(15))
print(n_list)
s_list1=n_list[0:5]
print(s_list1)
s_list2=n_list[5:11]
print(s_list2)
s_list3=n_list[11:15]
print(s_list3)
s_list4=n_list[2:12:2]
print(s_list4)
s_list5=n_list[10:5:-1]
print(s_list5)
s_list6=n_list[10:1:-2]
print(s_list6)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9, 10]
[11, 12, 13, 14]
[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6]
[10, 8, 6, 4, 2]

In [60]:
#6-1
capital_dic={'Korea':'Seoul','China':'Beijing','USA':'Washington DC'}
print(capital_dic['Korea'])
print(capital_dic['China'])
print(capital_dic['USA'])

Seoul
Beijing
Washington DC

In [63]:
#6-2
person_dic={'이름':'홍길동','나이':26,'몸무게':82,'특기':'분신술'}
print(person_dic)
person_dic['아버지']='홍판서'
print(person_dic)
del person_dic['나이']
print(person_dic)

{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술'}
{'이름': '홍길동', '나이': 26, '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}
{'이름': '홍길동', '몸무게': 82, '특기': '분신술', '아버지': '홍판서'}

In [1]:
#6-3
capital_dic={'Korea':'Seoul','China':'Beijing','USA':'Washington DC'}
print(capital_dic.get('Korea'))
print(capital_dic.get('China'))
print(capital_dic.get('Indonesia'))
print(capital_dic.get('Beijing'))

Seoul
Beijing
None
None

In [7]:
#6-4
fruits_dic={'apple':'6000','melon':'3000','banana':'5000','orange':'7000'}
for key in fruits_dic:
    print(format(key))
for key in fruits_dic:
    print(format(fruits_dic[key]))
fruits_dic.pop('apple')
fruits_dic.clear()

apple
melon
banana
orange
6000
3000
5000
7000

In [24]:
#6-5
fruits_dic={'apple':'6000','melon':'3000','banana':'5000','orange':'4000'}
print(list(fruits_dic.keys()))
print(list(fruits_dic.values()))
print("fruits_dic 딕셔너리의 항목의 개수: ",len(fruits_dic))
if 'apple' in  fruits_dic:
    print("apple is in fruits_dic.")
else:print("apple is not in fruits_dic.")

if 'mango' in  fruits_dic:
    print("mango is in fruits_dic.")
else:print("mango is not in fruits_dic.")

['apple', 'melon', 'banana', 'orange']
['6000', '3000', '5000', '4000']
fruits_dic 딕셔너리의 항목의 개수:  4
apple is in fruits_dic.
mango is not in fruits_dic.

In [25]:
#6-6
the_day=(1919,3,1)
print("%d년%d월%d일은 삼일절입니다"%(the_day[0],the_day[1],the_day[2]))

1919년3월1일은 삼일절입니다

In [26]:
num=(10,20,30)
a=num[2]
b=num[1]
c=num[0]
print("a=%d\nb=%d\nc=%d"%(a,b,c))

a=30
b=20
c=10

In [1]:
#6-7 에러케이스
person=('홍길동',2019001,179)
person[1]=2019003
#튜플이라 에러가 난다.

TypeError: 'tuple' object does not support item assignment

In [28]:
person=('홍길동',2019001,179)
person=list(person)
person[1]=202003
person=tuple(person)

In [4]:
#6-8
def square(x,y):
    return x**2,y**2
x=10
y=20
x_sq,y_sq=square(x,y)
print("%d제곱 =%d %d제곱 =%d"%(x,x_sq,y,y_sq))

10제곱 =100 20제곱 =400

In [5]:
(10,20,30)+(40,50,60)

(10, 20, 30, 40, 50, 60)

In [6]:
print('Hello'*3)
print(('Hello',)*3)

HelloHelloHello
('Hello', 'Hello', 'Hello')

In [8]:
#6-9
lst=['apple','mango','banana']
s1=set(lst)
print(s1)

{'banana', 'apple', 'mango'}

In [9]:
#6-10
s1={10,20,30,40}
s2={30,40,50,60,70}
print(s1|s2)
print(s1&s2)
print(s1-s2)
print(s1^s2)
print(s1.issubset(s2))
print(s1.issuperset(s2))
print(s1.isdisjoint(s2))

{70, 40, 10, 50, 20, 60, 30}
{40, 30}
{10, 20}
{50, 20, 70, 10, 60}
False
False
False

In [8]:
#연습 4-1번
list1=[3,5,7]
list2=[2,3,4,5,6]

for a in list1:
    for b in list2:
        print("%d * %d = %d"%(a,b,a*b))

3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42

In [37]:
#연습 4-3번
n_list=[10,20,30,50,60]
sum=0
for a in n_list:
    sum+=a
print("리스트 원소들:",n_list)
print("리스트 원소들의 합",sum)

리스트 원소들: [10, 20, 30, 50, 60]
리스트 원소들의 합 170

In [2]:
#연습 4-5번
a,b,c,d,e=map(int,input("숫자 5개를 입력하세요").split())
list2=(a,b,c,d,e)
print("최솟값 :",min(list2))
print("최댓값 :",max(list2))
print("합계 :",sum(list2))
print("평균 :",sum(list2)/len(list2))

숫자 5개를 입력하세요2 3 4 5 6
최솟값 : 2
최댓값 : 6
합계 : 20
평균 : 4.0

In [6]:
#연습 4-7번
animal=['dog','cat','tiger','lion']
print(animal)
animal.remove('dog')
animal.append('dog')
print(animal)
for a in animal:
    print("I love",a)

['dog', 'cat', 'tiger', 'lion']
['cat', 'tiger', 'lion', 'dog']
I love cat
I love tiger
I love lion
I love dog

In [40]:
#연습 4-9번
src = 'aabbbccccccaacccf'
Ochr=''
cnt=0
if src !='':
    Bchr=src[0]
    cnt=1
for i in range(1,len(src)):
    if src[i] != Bchr:
        Ochr += Bchr+str(cnt)
        cnt=1
        Bchr=src[i]
    else:
        cnt+=1
if cnt > 0:
    Ochr += Bchr+str(cnt)
print(Ochr)

a2b3c6a2c3f1

In [45]:
#연습 4.2-1번
lst=[5,6,3,9,2,12,3,8,7]
print(lst)
lst[5],lst[8]=lst[8],lst[5]
print(lst)

[5, 6, 3, 9, 2, 12, 3, 8, 7]
[5, 6, 3, 9, 2, 7, 3, 8, 12]

In [7]:
#연습 4.2-3번
word = input('단어를 입력하세요: ')
is_palindrome = True                
for i in range(len(word) // 2):      
    if word[i] != word[-1 - i]:      
        is_palindrome = False        
        break
 
if(is_palindrome):print("회문입니다")
else:print("회문이 아닙니다")

단어를 입력하세요: abcba
회문입니다

In [19]:
#연습 4.2-5번
mylist=[(1,2),(3,4),(4,5)]
a,b=map(int,input("두 정수를 입력하세요").split())
check=0
for i in range(0,3):
    if(mylist[i]==(a,b)):
        print(i,"번째에 (%d %d) 요소가 있습니다"%(a,b))
        check=1
    if(mylist[i]==(b,a)):
        print("(%d %d) 요소는 없으나 "%(a,b),i,"번째에 (%d %d) 요소가 있습니다"%(b,a))
        check=1
if(check==0):
    print("이 요소는 없습니다")

두 정수를 입력하세요2 1
(2 1) 요소는 없으나  0 번째에 (1 2) 요소가 있습니다

In [4]:
#연습 4.2-7번
tp=(1,2,5,4,3,1,1,1,3,2,1,5,7,7)
print("주어진 튜플")
print(tp)
tp2=set(tp)
print("중복 제거 튜플")
print(tuple(tp2))

주어진 튜플
(1, 2, 5, 4, 3, 1, 1, 1, 3, 2, 1, 5, 7, 7)
중복 제거 튜플
(1, 2, 3, 4, 5, 7)

In [17]:
#연습 4.2-9번
population_A=(100,150,230,120,180,100,140,95,81,21,4)
population_B=(300,420,530,420,400,300,40,5,1,1,1)
print("마을 A와 B에 보낼 투표 용지의 개수는 각각",sum(population_A[2:]),"장",sum(population_B[2:]),"장 입니다")
print("마을 A와 B의 고령화 정도는 ",sum(population_A[7:])/sum(population_A),"와",sum(population_B[7:])/sum(population_B),"입니다")

마을 A와 B에 보낼 투표 용지의 개수는 각각 971 장 1698 장 입니다
마을 A와 B의 고령화 정도는  0.16461916461916462 와 0.0033085194375516956 입니다